.selectableCard {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  cursor: pointer;
}

.inactive {
  background-color: #fff;
  color: #000;
}

.active {
  background-color: cadetblue;
  color: white;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
